extends layout
block body
  :coffeescript
    $ ->
      clip = require 'component-clipboard-dom'
      clip.swf '/component-clipboard-dom/ZeroClipboard.swf'
      ($ '.btn-copy').each (i, e)->
        c = new clip e, e.parentNode
        c.on 'load', ->
          console.log 'loaded'
        c.on 'mousedown', ->
          console.log 'haha'
          c.text 'haha'
  mixin commits(unmerged, prefix)
    table.shortlog
      //- tr
      //-   th 
      for commit in unmerged
        tr.dark
          td=moment(commit.date).fromNow()
          - author = String(commit.author).match(/^\s*(.+)\s*<(.+)>\s*$/);
          td
            if author
              a.list(href=prefix+'/#{project}/.git/search?s=#{encodeURIComponent(String(author[2]))};st=author')
                img.avatar(src=gravatar.url(String(author[2]),{s:16}),style='width:16px;height:16px;')
                =author[1]
            else
              =commit.author
          td
            a(href=prefix+'/#{project}/.git/commitdiff/#{commit.hash}')=commit.message
          td
            div(style='position:relative')
              =commit.hash.substring(0, 10)
              a.btn.btn-mini(href=prefix+'/#{project}/.git/commitdiff/#{commit.hash}') [diff]

  .row-fluid
    - var comparing = 'undefined'!=typeof(peer)?peer:null
    .span6
      .well(style='background-color: #fff;')
        .btn-toolbar.pull-right
          .btn-group
            .btn.btn-disable
              |local: 
              =settings.hostname
          .btn-group
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              =branch
              span.caret
            ul.dropdown-menu
              for b in repo.branches
                li(class=branch==b?'active':'')
                  if comparing
                    a(href='/projects/#{project}/#{b}/#{peer}/#{peerData.branch}/')=b
                  else
                    a(href='/projects/#{project}/#{b}/')=b
        ul.nav.nav-pills
          li.active
            a(href='#l-unmerged',data-toggle='tab') unmerged
          li
            a(href='#l-all',data-toggle='tab') all
        .tab-content
          #l-unmerged.tab-pane.active
            if comparing
              mixin commits(unmerged, '')
            else
              .alert.alert-info select a peer to show unmerged commits..
          #l-all.tab-pane 
            mixin commits(commits, '')
    .span6
      .well(style='background-color: #fff;')
        .btn-toolbar.pull-right
          .btn-group
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              if comparing
                |remote: 
                =peer
              else
                | [select a peer]
              span.caret
            ul.dropdown-menu
              for host, alias in peers
                li(class=alias==comparing?'active':'')
                  a(href='/projects/#{project}/#{branch}/#{alias}/master/')=alias
          .btn-group
            if comparing
              a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                =peerData.branch
                span.caret
              ul.dropdown-menu
                for b in peerData.repo.branches
                  li(class=peerData.branch==b?'active':'')
                    a(href='/projects/#{project}/#{branch}/#{peer}/#{b}/')=b
        ul.nav.nav-pills
          li.active
            a(href='#p-unmerged',data-toggle='tab') unmerged
          if comparing 
            li
              a(href='#p-all',data-toggle='tab') all
        .tab-content
          #p-unmerged.tab-pane.active
            if comparing
              mixin commits(peerData.unmerged, 'http://'+peerHost+':'+settings.port+'/')
            else
              .alert.alert-info select a peer to show unmerged commits..
          if comparing 
            #p-all.tab-pane
              mixin commits(peerData.commits, 'http://'+peerHost+':'+settings.port+'/')